body { background-color:yellow; }
h2 {font-size:10pt; }
h2:first-line { text-decoration:underline; }
h5 {line-height:2em; text-decoration:underline; font-style:italic; }
p.klasa { color:green; text-align:center; letter-spacing:1pt; }
ol {list-style-type: lower-alpha; font-weight: bold; margin-top: 0px; margin-bottom: 0px; }
ul {list-style-type: square; font-weight:lighter; }
blockquote {margin-left: 2in; }
p.klasa2 { color:green; text-align:center; letter-spacing:1pt; }
#1 {line-height:5pt; }
p.klasa3 {color: blue; font-size:9pt; font-style:italic; }
table {border-collapse: collapse; border: 2pt solid red; margin-left: auto; margin-right: auto; border-spacing: 0px; }
table th {background-color: cyan; color: red; }
td {border-collapse:collapse; border: 2pt solid red; }
a:visited {color:red; }
a:link {color:green; }
a:hover {background-color:white; font-size: 9pt; }
